{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            {% if is_mobile %}
                <h1>{{ '弁済情報通知用
                メールアドレス確認(完了)'|trans|nl2br }}</h1>
            {% else %}
                <h1>{{ '弁済情報通知用メールアドレス確認(完了)'|trans }}</h1>
            {% endif %}
        </div>
    </div>
    <div class="ec-contactCompleteRole">
        <div class="ec-reportHeading">
            <h2>{{ '送信が完了いたしました'|trans }}</h2>
        </div>
        <div class="ec-off2Grid ec-text-ac">
            <div class="ec-off2Grid__cell">
                {% if is_mobile %}
                    <p class="ec-reportDescription">{{ '万一、ご確認メールが届かない場合は、
                    トラブルの可能性もありますので
                    大変お手数ではございますが
                    もう一度お問い合わせいただくか、
                    お電話にてお問い合わせくださいませ。
                    '|trans|nl2br }}</p>
                {% else %}
                    <p class="ec-reportDescription">{{ '万一、ご確認メールが届かない場合は、
                    トラブルの可能性もありますので大変お手数ではございますが
                    もう一度お問い合わせいただくか、お電話にてお問い合わせくださいませ。
                    '|trans|nl2br }}</p>
                {% endif %}
                <div class="ec-off4Grid">
                    <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel" href="{{ url('homepage') }}">{{'トップページへ'|trans}}</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
