{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
    <div class="ec-pageHeader">
        <h1>{{ '本人認証'|trans }}</h1>
    </div>
    <div class="ec-forgotRole">
        <form name="form1" id="form1" method="post" action="{{ url('forgot_auth') }}">
            {{ form_widget(form._token) }}
            <div class="ec-off2Grid">
                <div class="ec-off2Grid__cell">
                    <div class="ec-forgotRole__form">
                        <div class="ec-forgotRole__intro">
                            <p class="ec-para-normal">{{ 'メールアドレスに届いた本人認証番号を入力し本人認証を完了してください。
                            '|trans|nl2br }}</p>
                        </div>
                        <div class="ec-borderedDefs">
                            <dl>
                                <dt>
                                    {{ form_label(form.auth_number, '本人認証番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.auth_number) ? ' error' }}">
                                        {{ form_widget(form.auth_number) }}
                                        {{ form_errors(form.auth_number) }}
                                        {% if error %}
                                            <p class="ec-errorMessage">{{ error }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="ec-login__link" align="right"><a class="ec-link"
                                        href="{{ url('forgot_send') }}?key={{ secret_key }}">{{ '本人認証番号を再度取得する >'|trans }}</a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="login_email" value="{{ login_email }}">
            <div class="ec-off4Grid">
                <div class="ec-off4Grid__cell">
                    <button type="submit" class="ec-blockBtn--action">{{ '本人認証をする'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


