{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'パスワードの再設定'|trans }}</h1>
        </div>
    </div>
    <div class="ec-forgetCompleteRole">
        <div class="ec-off2Grid">
            <div class="ec-off2Grid__cell">
                <p class="ec-reportDescription">{{ '
                    新しいパスワードの設定が完了しました。
                    「個人情報の内容を確認」ボタンを押して
                    登録された個人情報をご確認ください。
                    '|trans|nl2br }}</p>
                <div class="ec-off4Grid">
                    <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel" href="{{ url('forgot_entry_detail') }}?key={{ reset_key }}">{{ '個人情報の内容を確認'|trans }}</a></div>
                </div>
            </div>
        </div>
{% endblock %}


